/* App.css */
body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.7s;
}

.header-button:hover {
  background-color: #41464e;
  transition: 0.7s;
}

.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input, form select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  margin-top: 15px;
  font-weight: bold;
}

.list-marks{
    margin-top: 72px;
    width: 1200px;
    justify-self: center;
}

header {
  background-color: #282c34;
  border-radius: 10px;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
}